// custom SCSS (or CSS) goes here
.site-nav {
    width: 20rem; /* Adjust this value */
  }

.test {
    background-color: purple; /* Purple background */
    color: white;            /* White text */
    padding: 1rem;           /* Some padding around the text */
    border-radius: 0.5rem;   /* Rounded corners */
    margin: 1rem 0;          /* Some margin for spacing */
}
